.venv/
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
dist/
build/
*.egg-info/
.env
data/
checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
uv.lock
